{% extends "base.html" %}
{% load static %}
{% block title %}register_done.html{% endblock %}

{% block content %}
<head>
    <style>
    h3 {text-align: center;}
    h2 {text-align: center;}
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    form {text-align: center;}
    </style>
    </head>
<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Car Listing</h2>
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
    

    <div class="container">   
        <div class="jumbotron">
        <!-- <div class="jumbotron"> -->
		<!-- register_done Section Begin -->
        <h2>가입을 축하드립니다.</h2>
        <br>
        <p>감사합니다.</p>
        <br>
        <div class="form-group">
            <button type="submit" value="Register" class="btn primary-btn text-white" style="float: center;"><a href="{% url 'login' %}">로그인</a></button>
        </div>
    </div>
        <!-- <p class="font-italic"><a href="{% url 'login' %}"><h3>로그인</h3></a> </p> -->
    
        <!-- register_done Section End -->
    <!-- </div> -->
    </div>
</body>
{% endblock %}