{% if is_paginated %}
        <!-- << -->
        {% if page_obj.has_previous %}
            <a href="?sort={{ request.GET.sort }}&page={{ page_obj.previous_page_number }}" tabindex="-1"><span class="arrow_carrot-2left"></span></a>
        {% endif %}
        
        <!-- 페이지 번호 링크-->
        {% for page in page_range %}
            <a class="{% if page == page_obj.number %} active {% endif %}" href="?sort={{ request.GET.sort }}&page={{ page }}">{{ page }}</a>
        {% endfor %}

        <!-- >> -->
        {% if page_obj.has_next %}
            <a href="?sort={{ request.GET.sort }}&page={{ page_obj.next_page_number }}"><span class="arrow_carrot-2right"></span></a>
        {% endif %}
{% endif %}