{% extends 'base.html' %}

{% block content %}

    {% if not products2 %}

        <h1>해당 상품이 존재하지 않습니다.</h1>

    {% else %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>
    
    <div class="row">

    {% for product in products2.all %}
    <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <img class="thumbnail" src="{{ product.imageURL }}" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="col-auto">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ product.name }}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ product.price }} 원</div>
                        <a class="btn btn-outline-success" href="{% url 'product:detail' product.id %}">
                            <span class="text">상세 보기</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <br><br>
{% endblock %}