{% extends "base.html" %}{% load static %}
{% load humanize %}
{% block content %}
<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2> Porsche Cayenne Turbo S 2019 </h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">
                            <i class="fa fa-home"></i> Home </a>
                        <a href="{% url 'product:list' %}">About</a> <span> {{ product.name }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->

<!-- Car Details Section Begin -->
<section class="car-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <!-- 제품 사진 -->
                    <div class="car__details__pic">
                        <!-- 메인 사진 -->
                        <div class="car__details__pic__large">
                            <img class="car-big-img" src="{{ product.imageURL }}" width="400px" alt="">
                        </div>
                    </div>

                </div>


                <!-- 정보 탭 -->
                <div class="car__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Vehicle
                                Overview</a>

                    </ul>
                    <!-- 탭 별 내용 -->
                    <div class="tab-content">

                        <!-- 탭1 -->
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information</h5>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    제품명 : {{product.name}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    CPU : {{product.cpu}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    그래픽 : {{product.gpu}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    RAM : {{product.ram}}GB
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    저장장치 : SSD {{product.volume}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item">
                                            <h5>General Information</h5>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    제조사 : {{product.maker}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    운영체제 : {{product.sw_os}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    무게 : {{product.weight}}kg
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    베터리 : {{product.battery}}Wh
                                                </li>
                                                <li>
                                                    <i class="fa fa-check"></i>
                                                    디스플레이 : {{product.display}}인치
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <b>TAGS</b>
                                <i class="fa fa-tag"></i>
                                {% load taggit_templatetags2_tags %}
                                {% get_tags_for_object object as "tags" %}
                                {% for tag in tags %}
                                <a href="{% url 'product:tagged_object_list' tag.name %}"> {{tag.name}}</a>
                                {% endfor %}
                                &emsp;<a href="{% url 'product:tag_cloud' %}">
                                    <span class="btn btn-info btn-sm">TagCloud</span>
                                </a>
                            </div>
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭2 -->
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭3 -->
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 탭4 -->
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="car__details__tab__info__item"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="car__details__tab__feature__item"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 오른쪽 주문 정보 -->
            <div class="col-lg-3">
                <div class="car__details__sidebar">
                    <div class="car__details__sidebar__model">
                        <ul>
                            <li>Product name
                                <span> {{product.name}}</span>
                            </li>
                        </ul>

                    </div>
                    <div class="car__details__sidebar__payment">
                        <ul>
                            <li>Price
                                <span> {{product.price|intcomma}}원</span>
                            </li>
                        </ul>
                        <a href="#" class="primary-btn">
                            <i class="fa fa-credit-card"></i>
                            결제하기</a>
                        <a href="{% url 'cart:add_cart' product.id %}" class="primary-btn">
                            <i class="fa fa-credit-card"></i>
                            장바구니</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Car Details Section End -->{% endblock %}