{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Car Listing</h2>
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->

<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="car__sidebar">
                    <!-- 검색 -->
                    <div class="car__search">
                        <h5>검색어</h5>
                        <form action="{% url 'product:search' %}" method="GET">{% csrf_token %}
                            <input type="text" placeholder="Search..." name="q" value="{{q}}">
                            <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                        
                    <!-- 체크박스 -->
                    <div class="row">
                        <form action="{% url 'product:search' %}" method="GET">{% csrf_token %}

                            <!-- 메이커 -->
                            <div class="col-12">
                                <h5>Maker</h5>
                                <div class="form-check">
                                    <div class="row">
                                        {% for maker in maker_list %}
                                            <div class="col-2">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" name="f_maker", value={{maker}}> {{maker}}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <!-- CPU -->
                            <div class="col-12">
                                <h5>CPU</h5>
                                <div class="form-check">
                                    <div class="row">
                                        {% for cpu in cpu_list %}
                                            <div class="col-3">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" name="f_cpu", value={{cpu}}> {{cpu}}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <!-- RAM -->
                            <div class="col-12">
                                <h5>RAM</h5>
                                <div class="form-check">
                                    <div class="row">
                                        {% for ram in ram_list %}
                                            <div class="col-2">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" name="f_ram", value={{ram}}> {{ram}}GB
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <br><br><br><br>
                            
                            <!-- 필터 검색 버튼 -->
                            <div class="car__filter__btn">
                                <button type="submit" class="site-btn">검색</button>
                            </div>

                        </form >
                    </div>

                </div>
            </div>

            <div class="col-12">
                <!-- 조건 필터 -->
                <div class="car__filter__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="car__filter__option__item">
                                <h6>Show On Page</h6>
                                <select>
                                    <option value="">9 Car</option>
                                    <option value="">15 Car</option>
                                    <option value="">20 Car</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="car__filter__option__item car__filter__option__item--right">
                                <h6>Sort By</h6>
                                <select>
                                    <option value="">Price: Highest Fist</option>
                                    <option value="">Price: Lowest Fist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                {% block list %}
                <!-- 노트북 리스트 -->
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-4">
                        <div class="car__item">
                            <div class="car__item__pic__slider owl-carousel">
                                <img src="{{ product.imageURL }}" alt="">
                                <img src="{{ product.imageURL }}" alt="">
                                <img src="{{ product.imageURL }}" alt="">
                                <img src="{{ product.imageURL }}" alt="">
                            </div>
                            <div class="car__item__text">
                                <div class="car__item__text__inner">
                                    <div class="label-date">{{ product.name }}</div>
                                    <h5>{{ product.content }}</h5>
                                    <ul>
                                        <li><span>{{ product.cpu }}</span></li>
                                        <li>{{ product.ram }} GB</li>
                                        <li><span>{{ product.gpu }}</span></li>
                                    </ul>
                                </div>
                                <div class="car__item__price">
                                    <span class="car-option"><a
                                            href="{% url 'product:detail' product.id %}">상세보기</a></span>
                                    <h6>$218<span>/Month</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- 기존 페이지네이션 -->
                <!-- <div class="pagination__option">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><span class="arrow_carrot-2right"></span></a>
                </div> -->

                <!-- 나의 페이지네이션 -->
                <div class="pagination__option">
                    {% include 'pagination.html' %}
                </div>
                {% endblock %}

            </div>
        </div>
    </div>
</section>
<!-- Car Section End -->

{% endblock %}